/* Reset */
body{
    margin:0;
    font-family: "Georgia", serif;
    background:#f9faf9;
}

/* Navigation bar */
#nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.logo{
    font-weight:bold;
}

.nav-buttons a{

    margin-right:20px;
    text-decoration:none;
    color:black;
}

.start_button{
    background:#20c45a;
    border:none;
    padding:10px 18px;
    border-radius:20px;
    color:white;
    cursor:pointer;
}


/* Main container */
#container{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%, -30%);
    width:80%;
    text-align:center;
}

/* Headings */
.header{
    font-size:60px;
    font-weight:bold;
    margin-bottom:20px;
}

.header2{
    font-size:16px;
    color:#666;
    margin-bottom:35px;
}

/* Colors */
.yard{
    color:rgb(5, 220, 5);
}

.drive{
    color:skyblue;
}

/* Buttons */
.buttons button{
    padding:14px 26px;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    margin:0 10px;
}

.book{
    background:#20c45a;
    color:white;
    border:none;
}

.view{
    background:white;
    border:1px solid #ccc;
}
.amp{
    font-size:65px;          
    font-weight:400;         
    color:#777;             
    margin:0 10px;
    position:relative;
    top:-5px;                
    font-family: "Georgia", serif;
}

#garden_services{

    position:absolute;
    top:85%;
    left:10%;
    background-color:#f9faf9;
     background:
        radial-gradient(
            circle at top left,
            rgba(32,196,90,0.15),
            transparent 60%
        ),
        radial-gradient(
            circle at bottom right,
            rgba(32,196,90,0.12),
            transparent 60%
        ),
        #f9faf9;
         border:none;
        border-radius: 20px;


}
#drive_services{

    position:absolute;
    top:85%;
    left:60%;
    background-color:#f9faf9;
     background:
        radial-gradient(
            circle at top left,
            rgba(169, 218, 229, 0.851),
            transparent 60%
        ),
        radial-gradient(
            circle at bottom right,
            rgba(130, 211, 229, 0.851),
            transparent 60%
        ),
        #f9faf9;
        border:none;
        border-radius: 20px;

}
#trust_section{
    position:absolute;
    top:125%;
   text-align:center;
   width: 100%;
   height:35%;
   background-color:rgb(19, 2, 54);
   color:white;
   padding-top:10%; 
}