/* Reset */
body{
    margin:0;
    font-family: "Georgia", serif;
    background:#f9faf9;
}

/* Navigation bar */
#nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.logo{
    font-weight:bold;
}

.nav-buttons a{

    margin-right:20px;
    text-decoration:none;
    color:black;
}

.start_button{
    background:#20c45a;
    border:none;
    padding:10px 18px;
    border-radius:20px;
    color:white;
    cursor:pointer;
}


/* Main container */
#container{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%, -30%);
    width:80%;
    text-align:center;
}

/* Headings */
.header{
    font-size:60px;
    font-weight:bold;
    margin-bottom:20px;
}

.header2{
    font-size:16px;
    color:#666;
    margin-bottom:35px;
}

/* Colors */
.yard{
    color:rgb(5, 220, 5);
}

.drive{
    color:skyblue;
}

/* Buttons */
.buttons button{
    padding:14px 26px;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    margin:0 10px;
}

.book{
    background:#20c45a;
    color:white;
    border:none;
}

.view{
    background:white;
    border:1px solid #ccc;
}
.amp{
    font-size:65px;          
    font-weight:400;         
    color:#777;             
    margin:0 10px;
    position:relative;
    top:-5px;                
    font-family: "Georgia", serif;
}

#garden_services{

    position:absolute;
    top:85%;
    left:10%;
    background-color:#f9faf9;
     background:
        radial-gradient(
            circle at top left,
            rgba(32,196,90,0.15),
            transparent 60%
        ),
        radial-gradient(
            circle at bottom right,
            rgba(32,196,90,0.12),
            transparent 60%
        ),
        #f9faf9;
         border:none;
        border-radius: 20px;


}
#drive_services{

    position:absolute;
    top:85%;
    left:60%;
    background-color:#f9faf9;
     background:
        radial-gradient(
            circle at top left,
            rgba(169, 218, 229, 0.851),
            transparent 60%
        ),
        radial-gradient(
            circle at bottom right,
            rgba(130, 211, 229, 0.851),
            transparent 60%
        ),
        #f9faf9;
        border:none;
        border-radius: 20px;

}
#trust_section{
    position:absolute;
    top:125%;
   text-align:center;
   width: 100%;
   height:35%;
   background-color:rgb(19, 2, 54);
   color:white;
   padding-top:10%; 
}

#sign_up{
    position:fixed;

    top:15%;
    left:33%;
    width:500px;
    margin:auto;
    padding:20px;
    border:1px solid #ccc;
    border-radius:10px;
    background:white;
    height:auto;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.signup_button{
    position:relative;
    left:30%;
    width: 200px;
    background:#20c45a;
    border:none;
    padding:10px 18px;
    border-radius:20px;
    color:white;
    cursor:pointer;
}

.passwordbox,
.phonenumberbox,
.addressbox {
   
width:100%;
padding:5px;
border: 1px solid #ccc;
border-radius:5px;
}
.fullnamebox,
.usernamebox {
   
    width:40%;
    padding:5px;
    border: 1px solid #ccc;
    border-radius:5px;
    display: inline-block;
    
    }
    .usernamebox {
    margin-left: 50px;
}


.username{
    margin-left:200px;
}

#signin_container {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    position: absolute;
    top: 25%;
    left:36%;
}
.heading {
    text-align: center;
    margin-bottom: 25px;
}

/* Form */
.signin_form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs */
.inputbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 6px;

    outline: none;
    box-sizing: border-box;
}

.inputbox:focus {
    border-color: #22c55e;
}

/* Button */
.loginbtn {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 6px;

    background: #22c55e;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.loginbtn:hover {
    background: #16a34a;
}
